<!DOCTYPE html>
{%extends "testapp/base.html" %}
     {%block body_block%}
     <div class="jumbotron">
         <div class="container">
             <h1>Welcome to Super30Exams</h1>
             <h2>Rules:</h2>
             <ul>
                 <li>Rule-1: Fill up your personal details carefully.</li>
                 <li>Rule-2: All questions are compulsory.</li>
                 <li>Rule-3: Try to submit the paper in 40-45 minutes. </li>
                 <li>Rule-4: You are allowed to submit only once, make sure that you have correctly attempted all the questions before submission.                </li>
                 <li>Rule-5: Make sure you clicked on submit button to successfully complete the test.</li>
                 <li>Rule-6: New students must register.</li>
                 <li>Rule-7: You should complete one exam in one day only</li>
             </ul>
         </div>
     </div>
     {%endblock%}
     






     