<!DOCTYPE html>
{%extends "testapp/base.html" %}
     {%block body_block%}
     <div class="jumbotron">
         <div class="container">
             <h1>Thanks for visiting Super30Exams</h1>
             <p>Anyway I am not feeling good because you are logout I think you must have to spend 5 hours daily in my website</p>
               <h2>Please Login Again:</h2>
               <a href="/accounts/login" class="btn btn-primary btn-lg btn-success">Login</a>      
         </div>
     </div>
     {%endblock%}
    